<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="bannerFragment(banners)">
    <div id="demo" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-indicators">
            <div th:each="item, stat : ${banners}">
                <button type="button" data-bs-target="#demo" th:data-bs-slide-to="${stat.index}" th:classappend="${stat.index == 0} ? 'active' : ''"></button>
            </div>
        </div>
        <div class="carousel-inner">
                <div th:each="item, stat : ${banners}" th:classappend="${stat.index == 0} ? 'active' : ''" class="carousel-item">
                    <img th:src="@{${item.bannerIMG}}" alt="Banner" class="d-block w-100">
                </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>
</html>