<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forgot Password Confirmation</title>
    <div th:replace="~{layout :: head}"></div>
</head>
<body>
<div th:replace="~{layout :: header}"></div>
<div class="container body-content">
    <main aria-labelledby="title">
        <div class="container-fluid login-form">
            <hgroup class="title">
                <p>Forgot Password Confirmation</p>
            </hgroup>
            <div>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </main>
</div>
<div th:replace="~{layout :: footer}"></div>
</body>
</html>