<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <div th:replace="~{layout :: head}"></div>
</head>
<body>
<div th:replace="~{layout :: header}"></div>
<div class="container body-content">
    <div class="container-fluid login-form">
        <div class="row">
            <div class="col-md-6 textfield-login">
                <form th:action="@{/account/resetpassword}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input type="hidden" th:name="email" th:value="${resetPasswordViewModel.getEmail()}" />
                    <h1 class="mb-5">ĐẶT LẠI MẬT KHẨU</h1>
                    <div class="form-group">
                        <input id="newpassword" class="col-12 mb-2 w-100 input-login" type="password" th:name="newPassword" placeholder=" " required>
                        <label for="newpassword" class="input-label">Mật khẩu</label>
                    </div>
                    <div class="form-group">
                        <input id="confirmpassword" class="col-12 mb-2 w-100 input-login" type="password" th:name="confirmPassword" placeholder=" " required>
                        <label for="confirmpassword" class="input-label">Nhập lại mật khẩu</label>
                    </div>
                    <div class="btn-login mb-3">
                        <button type="submit" name="submit" class="btn m-0">Xác nhận</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 p-0 position-relative imgfield-login d-none d-md-flex">
                <img class="img-fluid full-width-image" src="/images/login.jpg" alt="Alternate Text" />
                <div class="overlay-login">
                    <h3 class="overlay-login-text text-sha">ĐĂNG NHẬP NGAY ĐỂ ĐẶT NHỮNG MÓN ĂN NGON !</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{layout :: footer}"></div>
</body>
</html>