<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <div th:replace="~{layout :: head}"></div>
</head>
<body>
<div th:replace="~{layout :: header}"></div>
<div class="container body-content">
    <main aria-labelledby="title">
        <div class="container-fluid login-form">
            <hgroup class="title">
            </hgroup>
            <div>
                <p>
                    Your password has been reset. Please <a th:href="@{/account/login}" id="loginLink">click here to log in</a>.
                </p>
            </div>
        </div>
    </main>
</div>
<div th:replace="~{layout :: footer}"></div>
</body>
</html>